@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/mona-sans-cufonfonts/Mona-Sans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
.change-bg-color {
  animation: changeColor 60s linear infinite;
}

@keyframes changeColor {
  0% {
    background-color: #ff000081;
  }
  25% {
    background-color: #3169316e;
  }
  50% {
    background-color: #0000ff77;
  }
  75% {
    background-color: #ffff007a;
  }
  100% {
    background-color: #ff00ff;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
