@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800&display=swap");

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
.change-bg-color {
  animation: changeColor 60s linear infinite;
}

@keyframes changeColor {
  0% {
    background-color: #ff000081;
  }
  25% {
    background-color: #3169316e;
  }
  50% {
    background-color: #0000ff77;
  }
  75% {
    background-color: #ffff007a;
  }
  100% {
    background-color: #ff00ff;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
